.home_button {
    margin-left: 1%;
}

.breadcrumb {
    display: inline-block;
    margin-left: 5%;
    width: 211px;
    margin-top: 1%;
}

.breadcrumb a {
    font-size: 1.1em;
}

.main_heading {
    width: auto;
    font-size: 1.5em;
    margin: auto;
    margin-top: -1%;
    margin-left: 5%;
    text-align: inherit;
}

#img_header {
    max-height: 225px;
}

.header_text {
    top: -60px;
}

.timeline_container {
    position: absolute;
    bottom: 75px;
    left: 25%;
    width: 50%;
    right: 25%;
}

#fourth_period:hover {
    cursor: pointer;
}

.back_button:hover {
    cursor: pointer;
}