@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap'); */

html {
    font-family: 'Kalam', cursive;
    /* font-family: 'Schoolbell', cursive; */
    background-color: #EAEAEA;
}

.dark-mode {
	background-color: #121212;
	color: #ffffff !important;
}

.timeline_container > ol.darkmode, .timeline_container > ol.darkmode > li {
    color: #ffffff !important;
}

.timeline_container > ol.darkmode > li:after {
    background-color: #ffffff !important;
    border: 2px solid #ffffff !important;
}

  .timeline_container > ol.darkmode:after {
    background-color: #ffffff !important;
    z-index: 0;
  }

  .timeline_container > ol.darkmode > li.active:after {
    background-color: #5a5a5a !important;
    z-index: 1;
  }

.header {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 25%;
}

#img_header {
    display: block;
    height: 100%;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.header_text {
    position: absolute;
    float: right;
    top: -20px;
    right: 60px;
    color: white;
    font-size: 5em;
}

.header_text p {
    margin-bottom: -15%;
    text-align: right;
}

.header_text p:last-child {
    font-size: 0.7em;
}

.main_heading {
    text-align: center;
    width: 60%;
    font-size: 2em;
    margin: auto;
    margin-top: 10%;
}

.breadcrumb img {
    width: 20px;
    margin-left: 5%;
    margin-top: 2%;
}

.breadcrumb .home_button {
    width: 20px;
    margin-left: 5%;
    margin-top: 2%;
}

.home_button:hover {
  cursor: pointer;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
  margin-right: 5%;
  margin-top: 1%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #777;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #121212;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.moon {
    right: 11px;
}

.sun {
    left: 11px;
}

.moon, .sun {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.switch svg path{
	fill: #f5f3f3 !important;
	color: #f5f3f3 !important;
}

/* -------------------------------- 
-------------------------------- */

.timeline_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    width: 50%;
    z-index: 1;
}

.timeline_container > ol, .timeline_container > ol > li {
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: verdana;
    font-size: 14px;
    z-index: 1;
  }
  
  .timeline_container > ol {
    display: flex;
    width: auto;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  .timeline_container > ol:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: -1;
  }
  
  
  .timeline_container > ol > li {
    list-style-type: none;
    position: relative;
    cursor: pointer;
    z-index: 1;
  }

  .timeline_container > ol > li:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #000000;
    border: 2px solid #000000;
    transition: background-color .2s ease;
    z-index: 1;
  }
  
  .timeline_container > ol > li:hover:after {
    background-color: mix(#000000, #c2c2c2);
    z-index: 1;
  }
  
  .timeline_container > ol > li.active:after {
    background-color: #c2c2c2;
    z-index: 1;
  }
  
  .timeline_container > ol > li > span {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    text-align: center;
    text-align: center;
    width: 100px;
	z-index: 2;
  }


  /* /////////////////////////////////// */
body {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-moz-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-webkit-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-o-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}