body {
    position: relative;
    min-height: 100%;
}

.back_button {
	margin-top: 1%;
    margin-left: 5%;
}

.home_button {
    margin-top: 0% !important;
    margin-left: 0% !important;
}

.breadcrumb {
    display: block;
}

.breadcrumb a {
    font-size: 1.1em;
}

.main_heading {
    width: auto;
    font-size: 1.5em;
    margin: auto;
    margin-top: -1%;
    margin-left: 5%;
    text-align: inherit;
}

#img_header {
    max-height: 225px;
}

.header_text {
    top: -60px;
}

.timeline_container {
    position: absolute;
    bottom: 75px;
    left: 25%;
    width: 50%;
    right: 25%;
}

#third_period:hover {
    cursor: pointer;
}

.back_button:hover {
    cursor: pointer;
}

/* index and video */
iframe {
    width: 80%;
    margin-left: 5%;
}

.video_indexing{
    display: inline-flex;
    margin-top: -38px;
    margin-bottom: 150px;
}

.index {
    margin-right: 5%;
    width: 100%;
}

.index img {
    width: 100%;
}

figure {
    display: inline-block;
    width: 20%;
    min-height: 100px;
    margin-right: 10px;
}

figure:hover {
    cursor: pointer;
    text-decoration: underline;
}

figcaption {
    text-align: center;
}

figcaption:hover {
    cursor: pointer;
    text-decoration: underline;
}